.formWrapper {
  display: flex;
  justify-content: center;
  width: 100vw;

  margin-top: calc(0px - 1.6875rem);
  gap: .5rem;
}

.formWrapper input {
  width: calc(46rem - 5.625rem - 0.5rem);
  height: 3.375rem;
  padding: 1rem;

  border-radius: 8px;
  border: 1px solid var(--gray-700);

  background: var(--gray-500);
  color: var(--gray-200);
}

.formWrapper input:focus {
  outline: 1px solid var(--purple-500);
}

.formWrapper button {
  border: none;
  border-radius: 8px;
  width: 5.625rem;
  height: 3.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem .25rem .5rem .25rem;
  gap: .5rem;
  
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: .875rem;

  background: var(--blue-500);
  color: var(--white);
  transition: background .1s;
}

.formWrapper button:hover {
  background: var(--blue-300);
}

.middleIconInButton {
  vertical-align: middle;
}