.articleWrapper {
  width: 46rem;
  min-height: 4.5rem;
  margin: auto;
  padding: 1.1875rem;

  border: 1px solid var(--gray-400);
  border-radius: 8px;
  background: var(--gray-500);
  color: var(--white);

  display: flex;
}

.articleWrapper + .articleWrapper {
  margin-top: 1rem;
}

.checkboxContainer {
  width: 3.25rem;
  display: flex;
  align-items: flex-start;
}

.contentContainer {
  width: 39.5rem;
  display: flex;
  align-items: flex-start;
}

.contentContainer p {
  color: var(--gray-100);
  font-weight: 400;
  font-size: .875rem;
}

.deleteContainer {
  width: 3.25rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  cursor: pointer;
}